@layer base {
  :root {
    --wrapper-width: 100ch;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr min(var(--wrapper-width, 100ch), 100%) 1fr;
    @apply my-px mx-2 md:my-6 md:mx-0;
  }

  .wrapper > * {
    grid-column: 2;
  }

  p + p {
    @apply mt-1;
  }

  a[href] {
    @apply text-blue-500;
  }
}

@layer utilities {
  a[href]:not(.never-underline):hover {
    @apply underline;
  }
}
