{% extends "./base-out.html" %}
{% from "./helpers.jinja" import external %}
{% block content %}
  {% block header %}
    <header class="{% block header_class %}section py-4 space-y-5{% endblock %}">
      <div class="row text-row">
        <h1>{{ title }}</h1>
      </div>
      {% block header_extra %}{% endblock %}
    </header>
  {% endblock %}
  {% block main_content %}{% endblock %}

  {% block footer %}
    <footer>
      <div class="footer-group">
        <h6>Powered by {{ external("https://palletsprojects.com/p/flask/", "Flask") }}</h6>
        <h6>And {{ external("https://www.heroku.com/", "Heroku") }}</h6>
      </div>
      <div class="footer-group">
        <div>
          Fira Mono, Fira Sans, Overpass, and Spectral are licensed under the
          <a href="{{ url_for('static', filename='licenses/ofl.txt') }}">Open Font License</a>.
        </div>
        <div>Roboto is licensed under the <a href="{{ url_for('static', filename='licenses/apache.txt') }}">Apache License</a>.</div>
      </div>
      {% set github_url = "https://github.com/mvwicky/holdmypics/tree/v" ~ version %}
      <div class="footer-group">
        <h6>Created by Michael Van Wickle</h6>
        <h6>
          Version: <code>{{ external(github_url, version) }}</code>
        </h6>
      </div>
    </footer>
  {% endblock %}
{% endblock %}