{% extends "./base.jinja" %}

{% from "./helpers.jinja" import external, option, input, select %}

{% block wrapper_class %}{{ super() }} space-y-5{% endblock %}
{% block header_extra %}
  <div class="row text-row">
    <p>Ever needed to create some placeholder images? Here's an easy way to do that.</p>
  </div>

  <div class="row text-row">
    <h2><span id="img-count">~{{ count }}</span> Images Created</h2>
  </div>

  <div class="row text-row pt-2">
    <h3 class="text-2xl"><a href="https://app.holdmypics.com">Check out the new front end.</a></h3>
  </div>
{% endblock %}
{% block main_content %}
  <main class="section content py-4 space-y-4">
    <div class="row">
      <img
        id="example-image"
        class="h-auto max-h-screen max-w-full"
        src="{{ img_url }}"
        alt="Example image."
        width="{{ size.0 }}"
        height="{{ size.1 }}"
      />
    </div>

    <div class="endpoint-container flex-col md:flex-row row items-center px-4 md:px-7">
      <code class="mb-2 md:mb-0 hover:underline" id="endpoint">
        {{ external(img_url, img_url|escape, id="endpoint-url", data_cy="endpoint-url") }}
      </code>
    </div>

    <div class="row items-center mb-6">
      <button
        id="copy-button"
        data-clipboard-text="{{ img_url }}"
        aria-label="Copied to clipboard!"
        disabled
        title="Copy image URL to clipboard."
      >
        <i data-feather="copy" title="Copy to clipboard."></i>
        <i data-feather="check" title="Copied"></i>
      </button>
    </div>
    {#
    <div class="image-container mb-3"></div>
    <div class="row d-none">
      <div class="form-group">
        <label for="expand-form">Expand Form</label>
        <input id="expand-form" type="checkbox" />
      </div>
    </div>
    #}

    <form class="border border-gray-300 p-3 space-y-3 md:px-5 md:py-4" id="params-form" action="">
      {% for field in num_fields %}
        <div class="form-group">
          <label for="{{ field.id }}">{{ field.label }}</label>
          <div class="input-group">
            {{ input("number", name=field.name, id=field.id, min=field.min, max=field.max, value=field.value, required=field.required, **field.extra) }}
            <small class="help-text">{{ field.help_text|default("&nbsp;", true) }}</small>
          </div>
        </div>
      {% endfor %}
      {% for field in col_fields %}
        <div class="form-group">
          <label for="{{ field.id }}">{{ field.label }}</label>
          <div class="input-group">
            {{ input("text", name=field.name, id=field.id, required=field.required, value=field.value, pattern=field.pattern, **field.extra) }}
            <small class="help-text">{{ field.help_text|default("&nbsp;", true) }}</small>
          </div>
        </div>
      {% endfor %}
      {% for field in sel_fields %}
        <div class="form-group">
          <label for="{{ field.id }}">{{ field.label }}</label>
          <div class="input-group">
            {{ select(field.name, field.value, field.options, id=field.id) }}
            <small class="help-text">{{ field.help_text|default("&nbsp;", true) }}</small>
          </div>
        </div>
      {% endfor %}
      <div class="form-group">
        <label for="imageText">Text</label>
        <div class="input-group flex-nowrap">
          <div class="text-input">
            <input class="query" id="imageText" type="text" value="{{ text }}" maxlength="30" data-cy="imageText" />
            <input class="query check-check flex-grow-0 my-auto ml-auto" type="checkbox" name="randomText" id="randomText" title="Randomize text." data-cy="randomText" />
          </div>
          <small class="help-text ml-auto">Randomize text.</small>
        </div>
      </div>
      <div class="form-group hidden">
        <label for="seed">Seed</label>
        <input id="seed" type="text" />
      </div>
    </form>

    <div class="flex justify-center">
      <h5><a href="{{ url_for('web.tiled') }}">Tiled</a></h5>
    </div>

    <section class="pt-3" id="routes">
      <h3 class="mb-2">Routes</h3>
      {% for rule in rules %}
        <p>
          <code>{{ rule | e }}</code>
        </p>
      {% endfor %}
      <div class="size-explanation">
        <small>
          Where <code>&lt;size&gt;</code> is either the width and height of a rectangular image
          (<code>width&times;height</code>) or the length of each side of a square image (<code>side</code>), in pixels.
          <p>
            <code class="rule">&lt;size&gt;&nbsp;=&nbsp;width&times;height&nbsp;</code>
            <code class="rule">&lt;size&gt;&nbsp;=&nbsp;side</code>
          </p>
        </small>
      </div>
    </section>
  </main>
{% endblock %}
