**/__pycache__
**/.*.env
**/.cache
**/.circleci
**/.classpath
**/.cov
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.log
**/.mypy_cache
**/.project
**/.pytest_cache
**/.python-version
**/.settings
**/.slugignore
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.anaconda
**/*.dbmdl
**/*.DS_Store
**/*.egg-info
**/*.envrc
**/*.eslintrc.yml
**/*.flake8
**/*.jfm
**/*.md
**/*.sublime-*
**/azds.yaml
**/bin
**/charts
**/dist
**/docker-compose*
**/Dockerfile*
**/heroku.yml
**/log
**/node_modules
**/npm-debug.log
**/obj
**/pytest-report
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
config