[flake8]
ignore = D1
import-order-style = pep8
exclude =
    .git
    node_modules
    migrations
    *.pyi,
    __pycache__
application-import-names =
    config
    dummy_flask
max-complexity = 10
enable-extensions = E704
max-line-length = 88