aiocontextvars==0.2.2; python_version >= "3.5" and python_version < "3.7"
appdirs==1.4.4
atomicwrites==1.4.0; python_version >= "2.7" and python_full_version < "3.0.0" and sys_platform == "win32" or python_full_version >= "3.4.0" and sys_platform == "win32"
attrs==20.2.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
beautifulsoup4==4.9.3
brotli==1.0.9
cfgv==3.2.0; python_full_version >= "3.6.1"
click==7.1.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
colorama==0.4.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
contextvars==2.4; python_version < "3.7"
coverage==5.3; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
cytoolz==0.11.0
distlib==0.3.1
environs==8.0.0; python_full_version >= "3.5.3"
filelock==3.0.12
flask-cors==3.0.9
flask-redis==0.4.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
flask==1.1.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
funcy==1.15
gunicorn==20.0.4; python_version >= "3.4"
humanize==2.6.0; python_version >= "3.5"
identify==1.5.5; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
immutables==0.14; python_version >= "3.5" and python_version < "3.7"
importlib-metadata==2.0.0; python_version >= "2.7" and python_full_version < "3.0.0" and python_version < "3.8" or python_full_version >= "3.5.0" and python_version < "3.8"
importlib-resources==3.0.0; python_version >= "2.7" and python_full_version < "3.0.0" and python_version < "3.7" or python_full_version >= "3.5.0" and python_version < "3.7"
iniconfig==1.0.1
isort==5.5.4; python_version >= "3.6" and python_version < "4.0"
itsdangerous==1.1.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
jedi==0.17.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
jinja2==2.11.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
loguru==0.5.3; python_version >= "3.5"
lxml==4.5.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
markupsafe==1.1.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
marshmallow==3.8.0; python_version >= "3.5"
memory-profiler==0.57.0
nodeenv==1.5.0
packaging==20.4; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
parso==0.7.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pillow==7.2.0; python_version >= "3.5"
pluggy==0.13.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pre-commit==2.7.1; python_full_version >= "3.6.1"
prompt-toolkit==3.0.7; python_full_version >= "3.6.1"
psutil==5.7.2; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
ptpython==3.0.7; python_version >= "3.6"
py==1.9.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pygments==2.7.1; python_version >= "3.5"
pyparsing==2.4.7; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
pytest-cov==2.10.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
pytest-html==2.1.1; python_version >= "3.6"
pytest-metadata==1.10.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
pytest==6.1.0; python_version >= "3.5"
python-dotenv==0.14.0
pyyaml==5.3.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
redis==3.5.3; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
semver==2.10.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
six==1.15.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
soupsieve==2.0.1; python_version >= "3.5"
toml==0.10.1
tomlkit==0.7.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
toolz==0.11.1; python_version >= "3.5"
virtualenv==20.0.32; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
wcwidth==0.2.5
werkzeug==1.0.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
whitenoise==5.2.0; python_version >= "3.5" and python_version < "4"
win32-setctime==1.0.2; python_version >= "3.5" and sys_platform == "win32"
zipp==3.2.0; python_version >= "3.6" and python_version < "3.7"
