attrs==19.3.0
beautifulsoup4==4.8.2
bs4==0.0.1
cffi==1.13.2; sys_platform == "win32" and platform_python_implementation == "CPython"
click==7.0
environs==7.1.0
flask==1.1.1
flask-cors==3.0.8
flask-redis==0.4.0
funcy==1.14
gevent==1.4.0
greenlet==0.4.15; platform_python_implementation == "CPython"
gunicorn==20.0.4
humanize==0.5.1
itsdangerous==1.1.0
jinja2==2.11.1
lxml==4.5.0
markupsafe==1.1.1
marshmallow==3.3.0
pillow==7.0.0
pycparser==2.19; sys_platform == "win32" and platform_python_implementation == "CPython"
python-dotenv==0.10.5
redis==3.4.0
six==1.14.0
soupsieve==1.9.5
toml==0.10.0
werkzeug==0.16.1
