.feather {
  width: 1em;
  height: 1em;
  align-self: center;
  bottom: 0.1em;
  // cursor: pointer;
  position: relative;
  vertical-align: middle;
  margin-left: 0.1em;
  stroke: var(--feather-stroke, hsl(0, 0%, 0%));
}

#copy-button {
  border-radius: 5px;
  margin-left: 0.33em;
  width: 2rem;
  height: 2rem;
  &:disabled {
    --feather-stroke: hsl(0, 0%, 73%);
  }
  &:not(:disabled) {
    &:hover {
      --feather-stroke: hsl(0, 0%, 100%);
      background-color: hsl(210, 100%, 56%);
    }
  }
}
