html {
  padding: 1em;
}
@media (min-width: 34em) {
  html {
    padding: 1em calc(45% - 17em);
  }
}

.content {
  border: 1px solid #e9ecef;
  padding: 0 1em;
}

@media (max-width: 992px) {
  .content {
    padding: 0 0.2em;
  }
}

.content h1 {
  margin-bottom: 1.5rem;
}

.image-container {
  margin-bottom: 1.5rem;
}

#endpoint:hover {
  text-decoration: underline;
}

.feather-copy {
  width: 1em;
  height: 1em;
  display: inline-flex;
  align-self: center;
  top: 0.13em;
  cursor: pointer;
  position: relative;
  vertical-align: baseline;
  margin-left: 0.33em;
}

#params-form {
  border: 1px solid #e9ecef;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.1em 0;
  justify-items: stretch;
}

input {
  width: 100%;
  border-radius: 3px;

  --validity-color: rgb(204, 204, 204);
  --validity-shadow: none;
  border: 1px solid var(--validity-color);
  box-shadow: var(--validity-shadow);
}

input:invalid {
  --validity-color: rgba(240, 0, 0, 0.8);
  --validity-shadow: 0 0 5px 1px var(--validity-color);
}

code {
  font-size: 1rem;
}

@media (max-width: 1200px) {
  code {
    font-size: calc(0.5rem + 0.7vw);
  }
}

img {
  margin: 0.5rem auto 1.5rem;
  max-width: 100%;
  height: auto;
}

.help-text {
  grid-column-start: 2;
  margin-top: -1em;
  color: gray;
}

#routes {
  padding-bottom: 1em;
}

footer {
  border: 1px solid #e9ecef;
  margin: 1em 0 0.2em;
  padding: 1em;
  text-align: center;
}

footer h6 {
  margin: 0.5rem;
}
