html {
  padding: 1em;
}
@media (min-width: 34em) {
  html {
    padding: 1em calc(45% - 16em);
  }
}

.content {
  width: 100%;
  /* margin-left: auto; */
  /* margin-right: auto; */
}
.content h1 {
  margin-bottom: 3rem;
}
code {
  font-size: 1rem;
}
img {
  margin: 0.5rem auto 1.5rem;
}
