@layer components {
  input {
    @apply py-0 px-1;
  }
  input,
  select {
    border-radius: 2px;
    box-shadow: var(--validity-shadow, none);

    @apply border border-blue-900;
  }

  input:invalid,
  select:invalid {
    /* --validity-color: rgba(240, 0, 0, 0.8); */
    --validity-color: theme("colors.red.600");
    /* --validity-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
      12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
      41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
      100px 100px 80px rgba(0, 0, 0, 0.07); */
    --validity-shadow: 0 0 5px 1px var(--validity-color);
  }

  input[type="text"]:disabled,
  input[type="text"].disabled {
    @apply bg-gray-300 text-gray-100;
  }

  .input-group {
    @apply flex flex-col;
  }

  .text-input {
    @apply flex items-center justify-between;

    flex-basis: 50%;
  }

  /* #randomText {
    @apply flex-grow-0 my-0 mx-auto;
  } */

  .form-group {
    @apply flex flex-col flex-wrap justify-between md:flex-row;
  }

  .form-group label {
    @apply flex-grow-0 mb-1 md:mb-0;
  }

  .form-group > input,
  .form-group > .input-group {
    flex-basis: 100%;
    @apply flex-grow-0 md:flex-wrap;
  }
  @screen md {
    .form-group > input,
    .form-group > .input-group {
      flex-basis: 50%;
    }
  }

  .help-text {
    color: #000000;
    font-weight: 200;
  }
}
