<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?flags=gated&features=default"></script>
  {% include "css.html" %}
  <title>Image Stats</title>

</head>
<body>
  <main class="content">
    <h1>Placeholder Image Generator</h1>

    <p>
      Ever needed to create some placeholder images?
      Here's an easy way to do that.
    </p>

    <h2>Images Created: {{ count }}</h2>

    <div class="image-container">
      <img id="example-image" src="{{ img_url }}?{{ img_query }}" alt="Example image.">
      <code id="endpoint">{{ img_url }}?{{ img_query }}</code>
      <button id="copy-button" data-clipboard-text="{{ img_url }}?{{ img_query }}">
        <i
          data-feather="copy"
          title="Copy to clipboard."
        ></i>
      </button>
    </div>


    <form id="params-form" action="">
      <label for="width">Width</label>
      <input id="width" type="number" min="1" step="1" value="{{ width }}">

      <label for="height">Height</label>
      <input id="height" type="number" min="1" step="1" value="{{ height }}">

      <label for="bg">Background Color</label>
      <input id="bg" type="text" value="{{ bg_color }}" pattern="{{ color_pattern }}">
      <small class="help-text">Three or six hex digits.</small>

      <label for="fg">Text Color</label>
      <input id="fg" type="text" value="{{ fg_color }}" pattern="{{ color_pattern }}">
      <small class="help-text">Three or six hex digits.</small>


      <label for="fmt">Format</label>
      <select name="fmt" id="fmt">
        {% for value in img_formats %}
        {% if value == fmt %}
        <option selected value="{{ value }}">{{ value }}</option>
        {% else %}
        <option value="{{ value }}">{{ value }}</option>
        {% endif %}
        {% endfor %}
      </select>
      <small class="help-text">&lsquo;jpg&rsquo; and &lsquo;jpeg&rsquo; are equivalent.</small>

      <label for="font">Font</label>
      <select name="font" id="font">
        {% for value, name in font_names %}
        {% if value == font %}
        <option selected value="{{ value }}">{{ name }}</option>
        {% else %}
        <option value="{{ value }}">{{ name }}</option>
        {% endif %}
        {% endfor %}
      </select>

      <label for="imageText">Text</label>
      <input id="imageText" type="text" value="{{ text }}" maxlength="30">
    </form>


    <br><br>

    <div id="routes">
      <h3>Routes:</h3>
      {% for rule in rules %}
      <code>{{ rule|e }}</code>
      <br><br>
      {% endfor %}
    </div>
  </main>
  <footer>
    <h6>Licenses</h6>
    <span>Fira Mono, Fira Sans, Overpass, and Spectral are licensed under the <a href="{{ url_for('static', filename='licenses/ofl.txt') }}">Open Font License</a>.</span>
    <br>
    <span>Roboto is licensed under the <a href="{{ url_for('static', filename='licenses/apache.txt') }}">Apache License</a>.</span>
    <br><br>
    <h6>Powered by <a href="https://palletsprojects.com/p/flask/">Flask</a></h6>
    <h6>And <a href="https://heroku.com">Heroku</a></h6>
    <br>
    <h6>Created by Michael Van Wickle</h6>
  </footer>
  {% include "js.html" %}
</body>
</html>