<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>
  <link href="https://unpkg.com/sanitize.css/typography.css" rel="stylesheet"/>
  {# <link href="https://unpkg.com/sanitize.css/page.css" rel="stylesheet" /> #}
  <title>Image Stats</title>

  <link href="{{ url_for('static', filename=styles) }}" rel="stylesheet" />
</head>
<body>
  <div class="content">
    <h1>Images Created: {{ count }}</h1>

    <img src="/api/766x388/cef/555/webp/?text=webp" alt="Example image.">
    <code>/api/766x388/cef/555/webp/?text=webp</code>

    <br><br>

    <h3>Routes:</h3>
    {% for rule in rules %}
    <code>{{ rule|e }}</code>
    <br><br>
    {% endfor %}

  </div>

</body>
</html>