html {
  padding: 1em;
  @media (min-width: 34em) {
    padding: 1em calc(40% - 17em);
  }
}

body {
  font-family: $font-family-base;
}

a[href] {
  color: hsl(200, 100%, 30%);
}

pre,
code,
kbd,
samp {
  font-family: $font-family-mono;
}

.content {
  border: 1px solid #e9ecef;
  padding: 0 1rem 1rem;
  @include mq($until: "lg") {
    padding: 0 0.2rem;
  }
  h1 {
    margin-bottom: 1.5rem;
  }
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

code {
  font-size: 1em;
  @include mq($until: "lg") {
    font-size: calc(0.5em + 0.7vw);
  }
}

img {
  margin: 0.5rem auto 1.5rem;
  max-width: 100%;
  height: auto;
}

.d-none {
  display: none;
}

.rule {
  display: block;
}
