<main class="content">
  <div class="row justify-content-center text-row">
    <h1>{{ title }}</h1>
  </div>
  <div class="row justify-content-center text-row">
    <p>
      Ever needed to create some placeholder images?
      Here's an easy way to do that.
    </p>
  </div>

  <div class="row justify-content-center text-row">
    <h2>Images Created: <span id="img-count">{{ count }}</span></h2>
  </div>

  <div class="image-container">
    <div class="row justify-content-center">
      <img id="example-image" src="{{ img_url }}?{{ img_query }}" alt="Example image.">
    </div>

    <div class="row align-items-center justify-content-between endpoint-container">
      <code id="endpoint">{{ img_url }}?{{ img_query }}</code>
      <button
        id="copy-button"
        data-clipboard-text="{{ img_url }}?{{ img_query }}"
        aria-label="Copied to clipboard!"
      >
        <i
          data-icon="copy"
          title="Copy to clipboard."
        ></i>
        <i class="d-none" data-icon="check" title="Copied"></i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="expand-form">Expand Form</label>
      <input id="expand-form" type="checkbox">
    </div>

  </div>

  <form id="params-form" action="">
    <div class="form-group">
      <label for="width">Width</label>
      <input id="width" type="number" min="1" step="1" value="{{ width }}" required>
    </div>
    <div class="form-group">
      <label for="height">Height</label>
      <input id="height" type="number" min="1" step="1" value="{{ height }}" required>
    </div>
    <div class="form-group">
      <label for="bg">Background Color</label>
      <div class="input-group">
        <input id="bg" type="text" value="{{ bg_color }}" pattern="{{ color_pattern }}">
        <small class="help-text">Three or six hex digits.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="fg">Text Color</label>
      <div class="input-group">
        <input id="fg" type="text" value="{{ fg_color }}" pattern="{{ color_pattern }}">
        <small class="help-text">Three or six hex digits.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="fmt">Format</label>
      <div class="input-group">
        <select name="fmt" id="fmt">
          {% for value in img_formats %}
          {% if value == fmt %}
          <option selected value="{{ value }}">{{ value }}</option>
          {% else %}
          <option value="{{ value }}">{{ value }}</option>
          {% endif %}
          {% endfor %}
        </select>
        <small class="help-text">&lsquo;jpg&rsquo; and &lsquo;jpeg&rsquo; are equivalent.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="font">Font</label>
      <div class="input-group">
        <select name="font" id="font">
          {% for value, name in font_names %}
          {% if value == font %}
          <option selected value="{{ value }}">{{ name }}</option>
          {% else %}
          <option value="{{ value }}">{{ name }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="imageText">Text</label>
      <input id="imageText" type="text" value="{{ text }}" maxlength="30">
    </div>
    <div class="form-group">
      <label for="seed">Seed</label>
      <input id="seed" type="text">
    </div>
  </form>

  <div id="color-picker">

  </div>

  <div id="routes">
    <h3>Routes:</h3>
    {% for rule in rules %}
    <p>
      <code>{{ rule|e }}</code>
    </p>
    {% endfor %}
    <div class="size-explanation">

      <small>
        Where <code>&lt;size&gt;</code> is either the width and height of a rectangular image (<code>width&times;height</code>) or the length of each side of a square image (<code>side</code>), in pixels.
        <p>
          <!-- <code class="rule">&lt;bg_color&gt;&nbsp;⟶&nbsp;width&times;height|</code> -->
          <!-- <code class="rule">&lt;fg_color&gt;&nbsp;⟶&nbsp;width&times;height</code> -->
          <code class="rule">&lt;size&gt;&nbsp;⟶&nbsp;width&times;height&nbsp;</code>
          <code class="rule">&lt;size&gt;&nbsp;⟶&nbsp;length</code>
        </p>
      </small>
    </div>
  </div>
</main>
<div class="row">
  <footer>
    <div class="footer-group">
      <h6>Licenses</h6>

      <div>
        Fira Mono, Fira Sans, Overpass, and Spectral are licensed under the <a href="{{ url_for('static', filename='licenses/ofl.txt') }}">Open Font License</a>.
      </div>
      <div>Roboto is licensed under the <a href="{{ url_for('static', filename='licenses/apache.txt') }}">Apache License</a>.</div>
    </div>
    <div class="footer-group">
      <h6>Powered by <a href="https://palletsprojects.com/p/flask/">Flask</a></h6>
      <h6>And <a href="https://heroku.com">Heroku</a></h6>
    </div>
    <div class="footer-group">
      <h6>Created by Michael Van Wickle</h6>
      <h6>Version: <code>{{ version }}</code></h6>
    </div>
  </footer>
</div>