@use "sass:map";

$mq-breakpoints: (
  xs: 0,
  sm: 550px,
  md: 768px,
  lg: 992px,
);

@import "../../../node_modules/bourbon/core/bourbon";
@import "../../../node_modules/sass-mq/mq";

$directions: ("x", "y", "left", "right", "top", "bottom", null);

$modular-scale-base: 0.8rem;
$modular-scale-ratio: $major-third;
$bourbon: (
  "modular-scale-base": $modular-scale-base,
  "modular-scale-ratio": $modular-scale-ratio,
);

$base-font-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-family-base: "Spectral", $base-font-fallback;

$mono-fallback: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace;

$font-family-mono: "Fira Mono", $mono-fallback;

$rfs-base-value: 0.7rem;
$rfs-factor: 11;

$font-scale-min: -3;
$font-scale-max: 3;

$grays: (
  0: hsl(62, 10%, 99%),
  10: hsl(62, 10%, 92%),
  20: hsl(62, 10%, 81%),
  30: hsl(62, 10%, 74%),
  40: hsl(62, 10%, 65%),
  50: hsl(62, 10%, 51%),
  60: hsl(62, 10%, 42%),
  70: hsl(62, 5%, 34%),
  80: hsl(62, 3%, 15%),
  90: hsl(62, 3%, 5%),
);

$primaries: (
  0: #e4ecff,
  5: #b1e1fd,
  10: #96d2fb,
  20: #60b2f3,
  30: #3392e8,
  40: #1273d7,
  50: #0057c2,
  55: #00317c,
  70: #0045a2,
  80: #001d4f,
  90: #000b21,
);

$colors: (
  "primary": map.get($primaries, 40),
  "border": map.get($grays, 20),
);

$space: (
  0: 0,
  1: modular-scale(-4),
  2: modular-scale(-2),
  3: modular-scale(0),
  4: modular-scale(2),
  5: modular-scale(4),
  6: modular-scale(6),
  7: modular-scale(8),
  8: modular-scale(10),
);
