$mq-breakpoints: (
  xs: 0,
  sm: 550px,
  md: 768px,
  lg: 992px,
);

@import "../../../node_modules/bourbon/core/bourbon";
@import "../../../node_modules/sass-mq/mq";

$modular-scale-base: 0.8rem;
$modular-scale-ratio: $major-third;
$bourbon: (
  "modular-scale-base": $modular-scale-base,
  "modular-scale-ratio": $modular-scale-ratio,
);

$base-font-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-family-base: "Spectral", $base-font-fallback;

$mono-fallback: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace;

$font-family-mono: "Fira Mono", $mono-fallback;

$rfs-base-value: 0.7rem;
$rfs-factor: 11;
