.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
  @include mq($from: "md") {
    flex-direction: row;
  }

  label {
    flex-grow: 0;
    margin-bottom: 0.25rem;
    @include mq($from: "md") {
      margin-bottom: 0;
    }
  }
  & > input,
  .input-group {
    flex-basis: 100%;
    flex-grow: 0;
    @include mq($from: "md") {
      flex-basis: 50%;
    }
  }
}

input {
  border-radius: 3px;
  border: 1px solid var(--validity-color, rgb(204, 204, 204));
  box-shadow: var(--validity-shadow, none);
  &:invalid {
    --validity-color: rgba(240, 0, 0, 0.8);
    --validity-shadow: 0 0 5px 1px var(--validity-color);
  }
}

.input-group {
  display: flex;
  flex-direction: column;
}

.help-text {
  grid-column-start: 2;
  color: #000000;
  font-weight: 200;
}
