html {
  padding: 1em;
  @media (min-width: 34em) {
    padding: 1em;
  }
}

a {
  color: dodgerblue;
}

q {
  &::before {
    content: "\201c";
  }
  &::after {
    content: "\201d";
  }
}

.feather-copy,
.feather-check {
}

#copy-button {
  border-radius: 5px;
  margin-left: 0.33em;
  &:hover {
    background-color: dodgerblue;
    .feather-copy {
      stroke: white;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, percentage(1 / 12));
}

.text-center {
  text-align: center;
}

.col-center {
  justify-self: center;
}

.row {
  grid-column: 1 / 12;
}

@for $i from 1 through 12 {
  .col-start-#{$i} {
    grid-column-start: $i;
  }
  .col-end-#{$i} {
    grid-column-end: $i;
  }
  .col-#{$i} {
    grid-column: 1 / 12;
  }
}

img {
  margin: 0.5rem auto 1.5rem;
  max-width: 100%;
  height: auto;
}

.rule {
  padding-bottom: 0.5em;
}

form {
  align-items: start;
  display: grid;
  gap: 1em;
  grid-auto-rows: 55px;
  grid-template-columns: max-content 1fr;
  margin-top: 1rem;
  width: 100%;
}

.help-text {
  font-weight: lighter;
  margin-left: auto;
  text-align: right;
  width: 100%;
  font-size: 0.8em;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 100%;
  // margin-bottom: 0.8em;
}

footer {
  border: 1px solid #e9ecef;
  display: flex;
  flex-direction: column;
  font-size: 75%;
  justify-content: space-between;
  line-height: 1;
  margin: 10vh auto 0.2em;
  padding: 0.5em 2em;
  text-align: center;
  width: 80%;
  h6 {
    font-size: inherit;
    margin: 0.5em auto;
  }
  a:visited {
    color: dodgerblue;
  }
}

.footer-group {
  flex-basis: 33%;
  margin: 0.75em auto;
  padding: 0 auto;
  width: 80%;
  small {
    display: block;
    padding-bottom: 0.5em;
    &:last-child {
      padding-bottom: 0;
    }
  }
  &.powered-by {
    h6 {
      margin-bottom: 0;
    }
  }
}
