<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }} | Hold My Pics</title>
    <meta
      name="description"
      content="A site that can generate a variety of images."
    /> <%
    for (key in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[key] %>"> <% } %>
  </head>
  <body>
    <div class="{% block wrapper_class %}wrapper{% endblock %}">{% block content %}{% endblock content %}</div>
    <%
    for (key in htmlWebpackPlugin.files.js) { %>
    <script type="module" src="<%= htmlWebpackPlugin.files.js[key] %>"></script> <% } %>
  </body>
</html>
