html {
  padding: 1em;
  @media (min-width: 34em) {
    padding: 1em calc(40% - 17em);
  }
}

.content {
  border: 1px solid #e9ecef;
  padding: 0 1em;
  // display: flex;
  @media (max-width: 992px) {
    padding: 0 0.2em;
  }
  h1 {
    margin-bottom: 1.5rem;
  }
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.image-container {
  margin-bottom: 1.5rem;
}

#endpoint:hover {
  text-decoration: underline;
}

.feather-copy,
.feather-check {
  width: 1em;
  height: 1em;
  display: inline-flex;
  align-self: center;
  bottom: 0.1em;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  margin-left: 0.1em;
}

#copy-button {
  border-radius: 5px;
  margin-left: 0.33em;
  &:hover {
    background-color: dodgerblue;
    .feather-copy {
      stroke: white;
    }
  }
}

#params-form {
  border: 1px solid #e9ecef;
  padding: 1rem;
  // display: flex;
  // justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.8em;

  label {
    flex-grow: 0;
  }
  & > input,
  .input-group {
    flex-basis: 50%;
    flex-grow: 0;
  }
}

input {
  // width: 100%;
  border-radius: 3px;

  --validity-color: rgb(204, 204, 204);
  --validity-shadow: none;
  border: 1px solid var(--validity-color);
  box-shadow: var(--validity-shadow);
  &:invalid {
    --validity-color: rgba(240, 0, 0, 0.8);
    --validity-shadow: 0 0 5px 1px var(--validity-color);
  }
}

.input-group {
  display: flex;
  flex-direction: column;
}

.help-text {
  grid-column-start: 2;
  // margin-top: -1em;
  color: #000000;
}

code {
  font-size: 1em;
  @media (max-width: 1200px) {
    font-size: calc(0.5em + 0.7vw);
  }
}

img {
  margin: 0.5rem auto 1.5rem;
  max-width: 100%;
  height: auto;
}

#routes {
  padding-bottom: 1em;
  padding-left: 1.5em;
}

footer {
  border: 1px solid #e9ecef;
  margin: 1em 0 0.2em;
  padding: 2em;
  text-align: center;
  width: 80%;
  .footer-group {
    padding-bottom: 1em;
  }
  div {
    font-size: 0.7rem;
  }
  h6 {
    font-size: 0.75rem;
    margin: 0.5rem;
  }
}
