<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>
  <link href="https://unpkg.com/sanitize.css/typography.css" rel="stylesheet"/>
  {# <link href="https://unpkg.com/sanitize.css/page.css" rel="stylesheet" /> #}
  <title>Image Stats</title>

  <style>
    html {
      padding: 1em;
    }
    @media (min-width: 34em) {
      html {
        padding: 1em calc(45% - 16em);
      }
    }

    .content {
      width: 100%;
      /* margin-left: auto; */
      /* margin-right: auto; */
    }
    .content h1 {
      margin-bottom: 3rem;
    }
    code {
      font-size: 1rem;
    }
    img {

    }
  </style>
</head>
<body>
  <div class="content">
    <h1>Images Created: {{ count }}</h1>

    <h3>Routes:</h3>
    {% for rule in rules %}
    <code>{{ rule|e }}</code>
    <br><br>
    {% endfor %}

    <img src="/api/766x388/cef/555/webp/?text=Hello" alt="">
  </div>

</body>
</html>